PORT=4200
SITE_NETWORK_GRAPHQL_URL=http://localhost:4000/graphql
REPORTING_GRAPHQL_URL=http://localhost:4120/graphql
PATIENT_REGISTRY_GRAPHQL_URL=http://localhost:4010/graphql
FORM_BUILDER_GRAPHQL_URL=http://localhost:4020/graphql
QUERY_MANAGEMENT_GRAPHQL_URL=http://localhost:4030/graphql
DOCUMENT_MANAGEMENT_GRAPHQL_URL=http://localhost:4040/graphql
CORS_ORIGIN=http://localhost:5173
NODE_ENV=development
